name: test
on:
  pull_request:
  push: 
    branches: 
      - main
env:
  LOG_LEVEL: info
  SWIFT_DETERMINISTIC_HASHING: 1

jobs:

  unit-tests:
    uses: vapor/ci/.github/workflows/run-unit-tests.yml@reusable-workflows
    with:
      with_coverage: false
      with_tsan: true
  
  upstream-check:
    runs-on: ubuntu-latest
    container: swift:5.5-focal
    steps:
      - name: Check out self
        uses: actions/checkout@v2
        with:
          path: jwt-kit
      - name: Check out Vapor
        uses: actions/checkout@v2
        with:
          repository: vapor/vapor
          path: vapor
      - name: Use local package
        run: swift package --package-path vapor edit jwt-kit --path jwt-kit
      - name: Run tests
        run: swift test --package-path vapor --enable-test-discovery
